<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active" 
                style="height:8px;" 
                [style.width]="getPercentage1"
                role="progressbar">
          </div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-warning progress-bar-striped active" 
                style="height:8px;" 
                [style.width]="getPercentage2"
                role="progressbar">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer (onProgressChanged)="progress1 = $event"
                          btnClass="primary"
                          [valor]="progress1"></app-incrementer>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer (onProgressChanged)="progress2 = $event"
                          btnClass="warning"
                          [valor]="progress2"></app-incrementer>
      </div>
    </div>
  </div>
</div>